body{
    background-image: url(IMG/fondo5.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    
}
#fonts{
    font-family: 'Abril Fatface', cursive;
    border-radius: 8px;
    color: aliceblue;
}
.container{

    color: rgb(0, 68, 102);
}
#color1, #color2, #color3, #color4, #color5{
    color: rgb(117, 146, 172);
}
.card{
    color: rgb(30, 100, 162);
}
#submenus{
    color: rgb(30, 100, 162);
    font-family: 'Abril Fatface', cursive;