<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stilo.css">
</head>
<body>
    <div id=fonts class="container navbar navbar-expand-sm bg-dark text-white navbar-dark">
        <h2>Pagina web de la historia de milagros :3</h2>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <!--<a class="nav-link " href="#">Active</a>-->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Nuevo Registro</a>
                <div class="dropdown-menu bg-dark navbar-dark">
                    <a id=color1 class="dropdown-item" href="games.html">Registro de juegos</a>
        <a id=color2 class="dropdown-item" href="merchan-lista.html">Merchandasing</a>
        <a id=color3 class="dropdown-item" href="Ropas.html">Ropa</a>
        <a id=color4 class="dropdown-item" href="patrocinadores.html">Patrocinadores</a>
        <a id=color5 class="dropdown-item" href="socios.html">Socios</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                LISTA DE MERCADERIA/ROPA/Helados etc de Milagros <3
            </div>
            <div class="card-body">
                
                <ul class="foto" id="foto1">milagros la dormilona XD</ul>
                <img src="/img/mili1.jpg" alt="" width="600px" height="400px">
                <br>
                <br>
                <div class="foto22"><img src="/img/milli2.jpg" alt=""width="300px" height="400px"></div>
            </div>
        </div>
        
</body>